<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<authentication mode="Forms">
			<forms>
				<credentials passwordFormat="Clear">
					<user name="xxxxx" password="xxxxx" />
				</credentials>
			</forms>
		</authentication>	
		<authorization>
			<deny users="?" />
		</authorization>
	</system.web>
	<system.webServer>				
		<rewrite>
			<rules>
				<rule name="Clean URL" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
		<handlers>
			<!--
               The default PHP-CGI handler does not handle the "OPTIONS" verb, so 
               we will drop the original "PHP54_via_FastCGI" and add it back with 
               OPTIONS in in the verb list.
            -->
			<remove name="OPTIONSVerbHandler" />
			<remove name="PHP54_via_FastCGI" />
			<add name="PHP54_via_FastCGI" path="*.php" verb="GET,HEAD,POST,OPTIONS,DELETE" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\v5.4\php-cgi.exe" resourceType="Either" />
		</handlers>			
		<modules>
			<remove name="FormsAuthenticationModule" />
			<add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />            
			<remove name="UrlAuthorization" />
			<add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
		</modules>		
	</system.webServer>
</configuration>  